@font-face {
  font-family: 'EB Garamond';
  font-family: 'Yeseva One';
  src: url('fonts/EBGaramond-Regular.ttf'); /* IE9 Compat Modes */
  src: url('fonts/YesevaOne-Regular.ttf');
  url('fonts/EBGaramond-Regular.ttf') format('Regular'), /* Modern Browsers */
  url('fonts/YesevaOne-Regular.ttf') format('Regular'), /* Modern Browsers */
}
h1 {
  color: red;
  font-family: "Yeseva One";
}
